@import '../vars.scss';

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  margin: 15px 0 66px 0;

  &__item {
    a {
      width: 50px;
      height: 50px;
      background-color: #ebebff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #d8d8ff;
      }

      &.active {
        background-color: #d8d8ff;
      }

      svg {
        color: $c-def;
        font-size: 1.8rem;
        display: block;
      }

      h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -26px;
        padding-top: 8px;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
