@import './vars.scss';

html {
	font-size: 62.5%;
}

body {
  font-family: 'Sofia Sans', sans-serif;
	color: $c-def;
	font-size: $f-def;
	font-weight: 400;
}

.app {
	width: 100%;
	max-width: 1430px;
	margin: 0 auto;
	padding: 15px;
}
